.coverage
.coverage.*
.DS_Store
.idea/.gitignore
.idea/httpRequests/
.idea/queries/
.idea/shelf/
.idea/workspace.xml
.idea/dataSources/
.idea/dataSources.local.xml
.pytest_cache/
.ruff_cache/
.venv/
build/
dist/
__pycache__/
*.pyc
.mcp.json
